@font-face {
  font-family: "Kumbh Sans";
  src: url("./assets/fonts/Kumbh_Sans/KumbhSans-VariableFont_YOPQ\,wght.ttf");
}

body {
  margin: 0;
  font-family: "Kumbh Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-cyan);
}

